*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

\.settings/

\.project

\.classpath

build/

libs/commons-cli-1\.4/apidocs/

libs/commons-io-2\.5/docs/
/bin/
